<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<style>
body
{
    background-image: url("https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
}
.pd{
padding-bottom:45%;}
}
</style>
</head>
<body>
<br>
<center><b class="pd"><font color="black" size="15" font-family="Comic Sans MS" >NutriGem</font></b></center><br><br>
<div>
<br>
<center>
<h2> The given amount of fat,vitamin c,protein,Fiber will come under the cluster </h2>
<h1><font color="black"> {{result}} </h1>  
</center>
</div>
</body>
</html>